name: gtk-editor
zip: Gtk-editor
owner: Unlucky Guy
description: a shitty gtk text editor
logo:
install: [
    unzip packages/zips/Gtk-editor/Gtk-editor -d packages/programs
    mkdir packages/programs/Gtk-editor/build
    cmake build -S packages/programs/Gtk-editor -B packages/programs/Gtk-editor/build
    cmake --build packages/programs/Gtk-editor/build
]
runnable: true
run: [
    cd build
    ./notes_app
    cd ..
]